<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Feeds news</h3>
        </div>
    </div>
</div>


{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>Daniele D'Angeli technical Test</p>
            </div>
            <div class="large-7 columns">
                <ul class="inline-list right">
                    <li><a href="https://bitbucket.org/dangelidaniele/sport-lobster-tech-test">Test tech repository url</a></li>
                    <li><a href="http://www.danieledangeli.com">Personal website</a></li>
                    <li><a href="https://twitter.com/dangelidaniele">Twitter</a></li>
                    <li><a href="https://github.com/danieledangeli">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
