{% extends 'base.html.twig' %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="error large-12 columns">
            <p>Ops an error has occurred: {{ error }}</p>
        </div>
    </div>
{% endblock %}
