{% extends 'base.html.twig' %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-3 columns">
            <a href="{{ path('sport_lobster_football') }}" class="button [tiny small large]">Football sky news</a>
        </div>
        <div class="large-6 columns"></div>
        <div class="large-3 columns">
            <h3>Channel</h3>
            {{ channel.title | e }}
            {{ channel.category | e }}
            <a href=" {{ channel.link | e }}">{{ channel.link | e }}</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            {% if feeds|length > 0 %}
                {% for feed in feeds %}
                    <div class="feed row">
                        <div class="large-2 columns small-3">
                            <a class="th">
                                <img src="{{ feed.image }}"/>
                            </a>
                        </div>

                        <div class="large-10 columns">
                            <h3><a class="feedtitle" href="{{ feed.link }}"> {{ feed.title }} </a></h3>

                            <p>
                                <span class="success alert secondary label">
                                {% if feed.isReport %}
                                    <a class="report"
                                       href="{{ path('sport_lobster_footballReport', {'category': feed.category}) }}">
                                        <strong>{{ feed.category }}</strong> </a>
                                    {% else %}
                                    <strong>{{ feed.category }}</strong>
                                {% endif %}
                                 </span>

                                 <span class="success alert secondary label">{{ feed.date |date('Y-m-d H:i:s') }}</span>
                            </p>

                            <p>{{ feed.description }}</p>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="nofeed large-12 columns">There aren't feed</div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
